<!DOCTYPE html>
<html lang="<!--@@var = lang-->">
<head>
    <meta charset="UTF-8">
    <title>Polaris</title>

    <meta charset="utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="<!--@@var= description-->">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="POLARIS">
    <meta property="og:description" content="<!--@@var= description-->">
    <meta property="og:image" content="./image/polaris-simbol-c@3x.png">
    <meta property="og:url" content="">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="<!--@@var= description-->">
    <meta name="twitter:image" content="./image/polaris-simbol-c@3x.png">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jquery.min.js"></script>
</head>
<body class="loading">

    <div id="barrior" class="barrior">&nbsp;</div>

    <!-- skip navigation -->
    <div class="skip_nav">
        <a href="#content">본문 바로가기</a>
	</div>

    <header id="header">
        <div class="wrapper">
            <h1><a href="#summary">polaris.io</a></h1>

            <button type="button" class="bugger" title="fold/unfold link">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <nav>
                <a href="#" class="ci twitter" title="Go to Twitter">Twitter</a>
                <a href="#" class="ci telegram" title="Go to Telegram">Telegram</a>
                <a href="#" class="ci medium" title="Go to medium">Medium</a>

                <a href="#">Blog</a>   <!-- 한영 다르게 -->
                <a href="#contact">Contact</a>
                <a href="#faq">FAQ</a>

                <a href="index-en.html" class="lang en">Eng</a>
                <a href="index-ko.html" class="lang ko">한국어</a>

                <button type="button" class="close">Close this panel</button>
            </nav>
        </div>
    </header>


    <article id="content">

        <section id="summary" class="summary">

            <!-- 애니메이션 & 인터랙션 -->
            <div class="deco circle ci">
                <div class="circle1">
                    <div class="circle2">
                        <div class="circle3">
                            <div class="ci animate"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper">
            <!--@@placeholder = summary-->
            </div>
        </section>

        <section id="linkGroup" class="link_group">
            <div class="wrapper">
                <a href="#" class="ci ethereum">Etherium</a>
                <a href="#" class="ci consensys">Consensys</a>
                <a href="#" class="ci coindesk">Coindesk</a>
                <a href="#" class="ci cointelegraph">cointellegraph</a>
            </div>
        </section>

        <section id="whyPolaris" class="about">
            <div class="wrapper">
            <!--@@placeholder = about -->
            </div>
        </section>


        <section id="advantage" class="advantage">
            <div class="wrapper">
            <!-- @@placeholder = advantage -->
            </div>
        </section>

        <section id="team" class="team">
            <div class="wrapper">
            <!-- @@placeholder = team -->
            </div>
        </section>

        <section id="advisor" class="advisor">
            <div class="wrapper">
            <!-- @@placeholder = advisor -->
            </div>
        </section>

        <!-- <section id="media" class="media"> -->
            <!-- <div class="wrapper"> -->
            <!-- <1!-- @@placeholder = media --1> -->
            <!-- </div> -->
        <!-- </section> -->

        <section id="faq" class="faq">
            <div class="wrapper">
            <!-- @@placeholder = faq -->
            </div>
        </section>

        <section id="moreInfo" class="more_info">
            <div class="wrapper">
            <!-- @@placeholder = more_info -->
            </div>
        </section>

        <section id="contact" class="contact">
            <div class="wrapper">
            <!-- @@placeholder = contact -->
            </div>
        </section>

        <section id="policy" class="policy">
            <div class="wrapper">
            <!-- @@placeholder = policy -->
            </div>
        </section>

        <section id="term" class="term">
            <div class="wrapper">
            <!-- @@placeholder = term-->
            </div>
        </section>

        <section id="disclimer" class="disclimer">
            <div class="wrapper">
            <!-- @@placeholder = disclimer -->
            </div>
        </section>

    </article>

    <footer id="footer" class="footer">
        <div class="wrapper">
        <!-- @@placeholder = footer -->
        </div>
    </footer>

    <script src="js/js.js"></script>
</body>
</html>
