<!DOCTYPE html>
<html lang="<!--@@var = lang-->">
<head>
    <meta charset="UTF-8">
    <title>Polaris</title>

    <meta charset="utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="<!--@@var= description-->">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="EOSYS">
    <meta property="og:description" content="<!--@@var= description-->">
    <meta property="og:image" content="">
    <meta property="og:url" content="">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="<!--@@var= description-->">
    <meta name="twitter:image" content="">

    <!-- !!!! 매니페스토의 이미지 링크해야됨! -->
    <link rel="manifest" href="site.webmanifest">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

    <link rel="stylesheet" href="css/style.css">

    <!-- !!!! 여기도 concat 처리해서 부어넣을 수 있는 방법이 있지 않을까...-->
    <script src="js/jquery.min.js"></script>
    <script src="js/js.js"></script>
</head>
<body>

    <!-- skip navigation -->
    <div class="skip_nav">
        <a href="#content">본문 바로가기</a>
	</div>

    <header id="header">
        <h1><a href="#summary">polaris.io</a></h1>

        <nav>
            <a href="#about">Blog</a>
            <a href="#project">Contact</a>
            <a href="#news">FAQ</a>
            <a href="#index-ko" class="lang ko">한국어</a>
            <a href="#index-en" class="lang en">Eng</a>
        </nav>
    </header>


    <article id="content">

        <section id="summary" class="summary">
        <!--@@placeholder = summary-->
        </section>

        <section id="linkGroup" class="link_group">
            <a href="#">etherium</a>
            <a href="#">consensys</a>
            <a href="#">coindesk</a>
            <a href="#">cointellegraph</a>
        </section>

        <section id="whyPolaris" class="about">
        <!--@@placeholder = about -->
        </section>


        <section id="advantage" class="advantage">
        <!-- @@placeholder = advantage -->
        </section>

        <section id="team" class="team">
        <!-- @@placeholder = team -->
        </section>

        <!--<section id="advisor" class="advisor">-->
        <!--<1!-- @@placeholder = advisor --1>-->
        <!--</section>-->

        <!--<section id="media" class="media">-->
        <!--<1!-- @@placeholder = media --1>-->
        <!--</section>-->

        <!--<section id="faq" class="faq">-->
        <!--<1!-- @@placeholder = faq --1>-->
        <!--</section>-->

        <!--<section id="moreInfo" class="more_info">-->
        <!--<1!-- @@placeholder = more_info --1>-->
        <!--</section>-->

    </article>

    <!-- <footer id="footer" class="footer"> -->
    <!-- <1!-- @@placeholder = footer --1> -->
    <!-- </footer> -->

</body>
</html>

