@charset 'UTF-8';

article .team,
article .advisor {

    ul, li {
        padding:0;
        margin:0;
        list-style-type:none;
    }

    ul {
        overflow:hidden;
        margin:0 auto;
        font-size:0;

        display:flex;
        flex-flow:row wrap;
        margin-left:-12px;

        @include media ('<976px') {
            justify-content:center;
        }

        > li {
            // 고정 넓이에서 갯수가 변화하는 형식을 취한다.

            height:414px;
            margin-top:48px;
            margin-left:12px;
            display:inline-block;

            width:225px;
            @include media('<504px') {
                width:280px;
            }

            text-align:center;
            background-color:#f2f5fc;

            position:relative;

            p  {
                margin:16px 0 0;
                color:#5c5c5c;
                font-weight:300;
                padding:0 25px;

                font-size:rem(14);

                @include media ('<400px') {
                    line-height:1.8;
                    font-size:rem(10);
                }

            }

            p:last-child {
               position:absolute;
               bottom:24px;
               left:0;
               right:0;
            }
        }
    }

    img {
        background:#aaa;
        display:block;
        width:225px;

        @include media('<504px') {
            width:280px;
        }
        height:141px;
        position:relative;

        &:before {
            content:'';
            display:block;
            position:absolute;
            width:100%;
            height: 2px;
            background-image: linear-gradient(to right, #27b9fb, #b827fb);
            bottom:0;
            left:0;
        }
    }

    h3 {

        text-transform:uppercase;

        font-size:rem(16);

        @include media ('<400px') {
            font-size:rem(12);
        }

        font-weight:600;
        color:#4a4a4a;
        font-family:$em-font;

        &:before {
            content:attr(data-role);
            display:block;
            font-weight:300;
            color:#808080;
            text-transform:Capitalize;
            margin:18px 0 4px;

            font-size:rem(14);

            @include media ('<400px') {
                font-size:rem(10);
            }
        }
    }

    a.ci {
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center center;
        display:inline-block;
        margin:24px 12px 0;
        width:20px;
        height:20px;

        @include ir();

        &.facebook {
            width:11px;
            background-image:url('../image/icon-facebook@3x.png')
        }

        &.telegram {
            background-image:url('../image/icon-telegram@3x.png')
        }

        &.twitter {
            background-image:url('../image/icon-twitter@3x.png')
        }
    }
}
