@charset 'UTF-8';

article .about {
    background-color:#f2f5fc;

    .wrapper {
        position:relative;
        box-sizing:border-box;

        @include media ('<=min') {
            padding:49px 0;
            display:flex;
            flex-flow:column;
        }

        @include media ('>=max') {
            padding-top:200px;
            padding-bottom:200px;
            min-height:661px;
        }
    }

    // eos node image
    h2 + img {

        @include media ('<=min') {
            display:block;
            margin:24px auto 0;

            order:3;

            width: 70%;
            max-width:300px;
        }

        @include media ('>=max') {
            position:absolute;
            right:39px;
            top:50%;
            transform:translateY(-50%);

            width: 311px;
        }
    }

    p {
        color:#4a4a4a;
        @include media ('<=min') {
            font-size:rem(12);
        }

        @include media ('>=max') {
            font-family:$em-font;
            font-weight:300;
        }
    }

    p:nth-of-type(1) {

        @include media ('<=min') {
            margin-top:48px;
            line-height:1.67;
            order:1;
        }

        @include media ('>=max') {
            margin-top:56px;
            line-height:1.83;
            width:580px;
        }
    }

    p:nth-of-type(2) {
        @include media ('<=min') {
            margin-top:12px;
            order:2;
        }

        font-size:rem(12);
        a {
            color:inherit;

            &:link {
                text-decoration:underline;
            }

            &:hover {
                color:#000;
            }
        }
    }
}
