@charset 'UTF-8';

article .advantage {
    background-color:#f7f9fd;

    .wrapper {
        padding:200px 0;
        position:relative;
    }

    div.relationship_diagram {
        overflow:hidden;
        width:720px;
        height:444px;
        margin:48px auto 32px;
    }

    ul {
        margin:0;
        padding:0;
        font-size:0;
        margin-top:-48px;

        li {
            margin:0;
            padding:0 7px;
            list-style-type:none;
            box-sizing:border-box;
            width:calc(100% / 3);
            margin-top:48px;
            display:inline-block;
            vertical-align:top;

            img {
                display:block;
                margin:0 auto 4px;
                width:136px;
                height:136px;
            }

            h3 {
                font-size:rem(16);
                font-family:$em-font;
                font-weight:600;
                color:#4a4a4a;
                text-align:center;
            }

            p {
                text-align:center;
                color:#808080;
                line-height:1.6;
                font-size:rem(14);
                font-weight:300;
                margin-bottom:0;
            }
        }
    }
}
