@charset 'UTF-8';

article .link_group {

    background-color:#e0e4ea;

    .wrapper {
        align-items:center;
        position:relative;
        display:flex;
        box-sizing:border-box;
        justify-content:space-between;

        @include media ('<=min') {
            flex-flow:row wrap;
            padding:20px;
            height:108px;
        }

        @include media ('>=max') {
            height:160px;
        }
    }

    a {
        // margin-left:66px;
        display:inline-block;

        &:first-child {
            margin-left:0;
        }
    }

    a.ci {
            background-repeat:no-repeat;
            background-size:cover;
            @include ir();

        &.ethereum {
            background-image:url('../image/partner-ethereum@3x.png');
        }
        &.consensys {
            background-image:url('../image/partner-conensys@3x.png');
        }
        &.coindesk {
            background-image:url('../image/partner-coindesk@3x.png');
        }
        &.cointelegraph {
            background-image:url('../image/partner-cointelegraph@3x.png');
        }

        @include media ('<=min') {
            margin:0 10px;

            &.ethereum {
                width:80px;
                height:19px;
            }
            &.consensys {
                width:88px;
                height:19px;
            }
            &.coindesk {
                width:80px;
                height:16px;
            }
            &.cointelegraph {
                width:100px;
                height:20px;
            }
        }
        @include media ('>=max') {
            &.ethereum {
                width:180px;
                height:46px;
            }
            &.consensys {
                width:180px;
                height:40px;
            }
            &.coindesk {
                width:160px;
                height:32px;
            }
            &.cointelegraph {
                width:228px;
                height:46px;
            }
        }
    }
}

