@charset 'UTF-8';

// summary interaction
.deco.ci.circle {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:linear-gradient(to right, #ccd0da 50%, #eaeffa);

    body.animate & {
        animation:background 3s;
    }

    @keyframes background {
        0% {
            opacity:0;
        }

        100% {
            opacity:1;
        }
    }


    div {
        position:absolute;
        border-radius:100%;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }

    .circle1 {
        width:988px;
        height:988px;
        left:calc(50% - 270px);
        transform:translate(0,-50%);
        background:linear-gradient(to right, #e2e7f1 40%, transparent 50%);

        body.animate & {
            animation:circle 2.5s;
        }

        &:after {
            content:'';
            width:348px;
            height:348px;
            position:absolute;
            box-shadow:0 0 50px rgba(255,255,255,0.5);
            // background:#fff;
            content:'';
            border-radius:100%;

            top:50%;
            left:50%;
            margin:-174px 0 0 -174px;
            opacity:0;
            transform-origin:center center;

            body.animate & {
                animation-name: pulse;
                animation-duration:3.5s;
                animation-delay:0.4s;
                animation-iteration-count:3;
            }
        }

    @keyframes pulse {
        0% {
            transform:scale(1);
            opacity:1;
            transform-origin:center center;
        }

        100% {
            transform:scale(3.3);
            opacity:0;
        }
    }

    }

    .circle2 {
        background:#e6ebf5;
        box-shadow:0 0 100px #dfe4ee;
        width:644px;
        height:644px;

    }

    .circle3 {
        background:#e7eaf2;
        box-shadow:0 0 100px #dce1eb;
        width:348px;
        height:348px;
    }

    @keyframes circle {
        0% {
            opacity:0;
        }

        100% {
            opacity:1;
        }
    }

    .ci {
        background:url('../image/polaris-simbol-c@3x.png') left top no-repeat transparent;
        background-size:cover;
        width:240px;
        height:240px;

        body.animate & {
            animation:ci 1s;
        }
    }
    @keyframes ci {
        0% {
            opacity:0.5;
            transform:translate(-50%,-50%) rotate(60deg);
        }


        100% {
            opacity:1;
            transform:translate(-50%,-50%) rotate(0deg);
        }
    }
        @include media ('<700px') {
        .circle1 {
            transform:translate(-2%,-50%);
        }
    }
    @include media ('<500px') {
        .circle1 {
            width:649px;
            height:649px;
            background:linear-gradient(to right, #e2e7f1 40%, transparent 50%);
            top:auto;
            left:auto;
            bottom:-230px;
            right:-230px;
            transform:translate(0,0);
        }

        .circle2 {
            width:423px;
            height:423px;
        }

        .circle3 {
            width:249px;
            height:249px;
        }

        .ci {
            width:150px;
            height:150px;
        }
    }

}

