@charset 'UTF-8';

& > div {
    visibility:hidden;
}

&.animate > div {
    visibility:visible;
    position:absolute;

    // banner의 축약어 b...
    b {
        display:block;
        position:absolute;
        font-weight:500;
        line-height:1.4;
        text-align:center;
        box-sizing:border-box;
        color:#fff;

        min-width:5.466666667em;
        max-width:9.866666667em;

        padding:0.5333em 1.266666667em;

        z-index:2;

        font-size:rem(15);

        @include media ('<600px') {
            font-size:rem(12);
        }

        @include media ('<500px') {
            font-size:rem(11);
        }

        @include media ('<400px') {
            font-size:rem(10);
        }

        &:first-letter {
            text-transform:uppercase;
        }
    }
}

&.animate {
    .schematic {
        width:100%;
        height:100%;

        background:url('../image/icon-adv-line@2x.png') center center no-repeat transparent;
        background-size:contain;

        animation-duration: 0.5s;
        animation-name: schematic;

        b {
            top:40.5%;
            left:-4.5555%;
            background-image: linear-gradient(to right, #31bff8, #588ef8);

            animation-duration: 1.5s;
            animation-name:label_schematic;
        }
    }

    @keyframes label_schematic {
        0% {
            opacity:0.3;
            transform:translateX(-30px);
        }

        75% {
            opacity:0.9;
        }

        100% {
            opacity:1;
            transform:translateX(0);
        }
    }


    @keyframes schematic {
        0% {
            opacity:0;
            transform:translateY(5px);
        }

        75% {
            opacity:0.9;
            transform:translateY(0);
        }

        100% {
            opacity:1;
        }
    }


    .private {
        width:50%;
        height:62.347188%;

        background:url('../image/icon-adv-mainblock@2x.png') center center no-repeat transparent;
        background-size:contain;

        animation-duration: 1s;
        animation-name: private;

        top:12.71393%;
        left:25%;

        b {
            top:30%;
            left:62%;
            background-image: linear-gradient(to left, #8561f7, #b827fb);

            animation-duration: 1.5s;
            animation-name:label_private;
        }
    }

    @keyframes label_private {
        0% {
            opacity:0;
            transform:scale(1.1);
        }

        75% {
            opacity:0.9;
        }

        100% {
            opacity:1;
            transform:scale(1);
        }
    }

    @keyframes private {
        0% {
            opacity:0;
            transform:translateY(10px);
        }

        40% {
            opacity:0.8;
        }

        100% {
            opacity:1;
            transform:translateY(0);
        }
    }


    .user {
        background-color:transparent;
        background-position:center center;
        background-repeat:no-repeat;
        background-size:cover;

        &.left.top,
        &.right.bottom {
            width:23.611111111%;
            height:34.718826406%;
            background-image:url('../image/icon-adv-share-02@2x.png');
        }

        &.left.bottom,
        &.right.top {
            width:22.22222%;
            height:32.518337408%;
            background-image:url('../image/icon-adv-user-01@2x.png');
        }

    }

    .user.left.top {
        top:2.6894%;
        left:14.7222%;

        animation-duration: 1.5s;
        animation-name: user_left_top;

        b {
            top:-10%;
            left:-15%;
            background-image: linear-gradient(to right, #31bff8, #588ef8);
            animation-duration: 1.5s;
            animation-name:label_left_top;
        }
    }

    @keyframes label_left_top {
        0% {
            opacity:0;
            transform:translate(-10px,-10px);
        }

        75% {
            opacity:0.9;
        }

        100% {
            opacity:1;
            transform:translate(0,0);
        }
    }


    @keyframes user_left_top {
        0% {
            opacity:0;
            transform:translate(-20px,-20px);
        }

        75% {
            opacity:0.8;
            transform:translate(0,0);
        }

        100% {
            opacity:1;
        }
    }


    .user.left.bottom {
        bottom:11.2469%;
        left:15.4166667%;

        animation-duration: 1.5s;
        animation-name: user_left_bottom;

        b {
            bottom:-19%;
            right:23%;
            background-image: linear-gradient(to right, #31bff8, #588ef8);

            animation-duration: 1.5s;
            animation-name:label_left_bottom;
        }
    }

    @keyframes label_left_bottom {
        0% {
            opacity:0;
            transform:translate(-20px,20px);
        }

        75% {
            opacity:0.9;
        }

        100% {
            opacity:1;
            transform:translate(0,0);
        }
    }



    @keyframes user_left_bottom {
        0% {
            opacity:0;
            transform:translate(-20px,20px);
        }

        75% {
            opacity:0.8;
            transform:translate(0,0);
        }

        100% {
            opacity:1;
        }
    }

    .user.right.bottom {
        bottom:10.75794%;
        right:14.16666%;

        animation-duration: 1.5s;
        animation-name: user_right_bottom;

        b {
            top:63%;
            left:59%;
            background-image: linear-gradient(to left, #8561f7, #b827fb);
            animation-duration: 1.5s;
            animation-name:label_right_bottom;
        }
    }

    @keyframes label_right_bottom {
        0% {
            opacity:0;
            transform:translate(20px,20px);
        }

        75% {
            opacity:0.9;
        }

        100% {
            opacity:1;
            transform:translate(0,0);
        }
    }





    @keyframes user_right_bottom {
        0% {
            opacity:0;
            transform:translate(20px,20px);
        }

        75% {
            opacity:0.8;
            transform:translate(0,0);
        }

        100% {
            opacity:1;
        }
    }


    .user.right.top {
        top:3.667481%;
        right:14.166666%;

        animation-duration: 1.5s;
        animation-name: user_right_top;

        b {
            top:-5%;
            right:-30%;
            background-image: linear-gradient(to left, #8561f7, #b827fb);
            animation-duration: 1.5s;
            animation-name:label_right_top;
        }
    }

    @keyframes label_right_top {
        0% {
            opacity:0;
            transform:translate(20px,-20px);
        }

        75% {
            opacity:0.9;
        }

        100% {
            opacity:1;
            transform:translate(0,0);
        }
    }


    @keyframes user_right_top {
        0% {
            opacity:0;
            transform:translate(20px,-20px);
        }

        75% {
            opacity:0.8;
            transform:translate(0,0);
        }

        100% {
            opacity:1;
        }
    }

    .user.center.block {
        width:19.4444%;
        height:27.383863%;
        background-image:url('../image/icon-adv-lock@2x.png');

        top:31.295843%;
        left:39.305555%;

        animation-duration: 1.5s;
        animation-name: center_block;
    }

    @keyframes center_block {
        0% {
            opacity:0;
            transform:translateY(20px);
        }

        75% {
            opacity:0.8;
            transform:translateY(0);
        }

        100% {
            opacity:1;
        }
    }

    .user.center.panel {
        width:16.2162%;
        height:36.674816%;
        top:-9.4%;
        left:39.305555%;
        background-image:url('../image/icon-adv-info@2x.png');

        animation-duration: 1.5s;
        animation-name: center_panel;
    }


    @keyframes center_panel {
        0% {
            opacity:0;
            transform:translateY(-50px);
        }

        25% {
            opacity:1;
        }

        100% {
            opacity:1;
            transform:translateY(0);
        }
    }

}
