@charset 'UTF-8';

article .media {
    h2 {
        margin-bottom:48px;
    }

    > p  {
        margin:48px 0;
        display:flex;
        align-items:center;
        justify-content:center;
    }

    a {
        margin-left:66px;
        display:inline-block;

        &:first-child {
            margin-left:0;
        }
    }

}
