@charset 'UTF-8';

article .link_group {
    display:flex;
    height:160px;
    align-items:center;
    justify-content:center;

    a {
        margin-left:66px;
        display:inline-block;

        &:first-child {
            margin-left:0;
        }
    }
}

