@charset 'UTF-8';

article .about {
    background-color:#f2f5fc;

    .wrapper {
        padding-top:200px;
        padding-bottom:200px;
        position:relative;
        box-sizing:border-box;
        min-height:661px;
    }

    // eos node image
    h2 + img {
        // width:160px;
        // height:273px;
        // right:79px;

        width: 250px;
        height: 353px;
        right:39px;

        position:absolute;
        top:50%;
        transform:translateY(-50%);
    }

    p {
        font-family:$em-font;
        font-weight:300;
        color:#4a4a4a;
    }

    p:nth-of-type(1) {
        margin-top:56px;
        width:580px;
        line-height:1.83;
    }

    p:nth-of-type(2) {
        font-size:rem(12);
        a {
            color:inherit;

            &:link {
                text-decoration:underline;
            }

            &:hover {
                color:#000;
            }
        }
    }
}
