@charset 'UTF-8';


article .summary {
    height:720px;
    position:relative;

    &:before {
        content:'';
        z-index:-1;
        position:absolute;
        top:0;
        left:-200%;
        bottom:0;
        right:-200%;

        background-image: radial-gradient(
                circle at 54% center,
                #e7eaf2 174px,
                #dce0eb 175px,

                #dce0eb 323px,
                #d1d5df 325px,

                #e6ebf6 480px,
                #e1e6f0 492px,
                transparent 493px
            ), linear-gradient(to right, #ccd0da 30%, #eaeffa 75%);

        background-position:center,left,left;
        background-repeat:no-repeat;
    }

    &:after {
        content:'';
        left:calc(54% + 30px);
        top:50%;
        transform:translateY(-50%);
        width:240px;
        height:240px;
        position:absolute;
        background: url('../image/polaris-simbol-c@3x.png') center center no-repeat;
        background-size:cover;
    }

    display:flex;
    flex-flow:column wrap;
    justify-content:center;

    h2 {
        font-size:rem(44);
        line-height:1.23;
        font-family:$em-font;
        font-weight:400;
        color:#4a4a4a;
    }

    a.button.middle {
        font-size:rem(20);
        height:58px;
        line-height:58px;
        font-family:$em-font;
        width:224px;
        text-align:center;
        font-weight:300;

        margin-top:40px;
    }

    .btn_area {
        text-align:left;
    }
}
