// 섹션 타이틀
h2 {
    font-family:$em-font;
    color:#4a4a4a;
    font-weight:bold;

    &:first-letter {
        text-transform:uppercase;
    }

    @include media_query ($device_small) {
        font-size:rem(18);
    }

    @include media_query ($device_large) {
        font-size:rem(28);
    }
}
