// 섹션 타이틀
h2 {
    font-family:$em-font;
    color:#4a4a4a;
    font-weight:bold;

    &:first-letter {
        text-transform:uppercase;
    }

    font-size:rem(28);

    @include media ('<600px') {
        font-size:rem(18);
    }
}
