@charset 'UTF-8';

footer {
    box-sizing:border-box;
    color:#fff;
    position:relative;

    padding:81px 0;

    // 배경색
    &:before {
        content:'';
        display:block;
        position:absolute;
        top:0;
        left:-200%;
        right:-200%;
        bottom:0;
        background-color:#4a4a4a;
        z-index:-1;
    }

    h2 {
        width:120px;
        height:18px;
        margin-bottom:18px;
        text-transform:uppercase;
        @include ir();

        background:url('../image/polaris-logo-footer@3x.png') left top no-repeat;
        background-size:cover;
    }

    a, p.copyright {
        color:#abb3c6;
        font-family:$em-font;
    }

    a {
        font-weight:400;
        font-size:rem(16);
    }

    p.copyright {
        font-weight:300;
        margin:0.6em 0 0 0;
    }

    ul,li {
        padding:0;
        margin:0;
    }

    ul.external.link {
        position:absolute;
        right:0;
        top:78px;
        overflow:hidden;

        li {
            float:left;
            list-style-type:none;
            padding:0;
            margin:0;
        }
    }

    a.ci {
        display:inline-block;
        width:32px;
        height:32px;
        margin-left:44px;
        background-position:left top;
        background-repeat:no-repeat;
        background-color:transparent;
        background-size:cover;
        @include ir();

        &.twitter {
            background-image:url('../image/icon-twitter-footer@3x.png');
        }

        &.telegram {
            background-image:url('../image/icon-telegram-footer@3x.png');
        }

        &.medium {
            background-image:url('../image/icon-medium-footer@3x.png');
        }
    }

}
