// header styling
header {
    box-sizing:border-box;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:10;

    // 이건 애니메이션이랑 섞어서 생각해봐야 되는거 아니냐?
    transition:all 0.1s;

    //device-max

    .wrapper {

        display:flex;
        align-items:center;
        justify-content:space-between;

        padding:0 20px;
        margin:0 auto;
        height:80px;

        @include media ('<700px') {
            padding:0;
            height:56px;
            margin:0 20px;
        }

    }
}

header h1 a {

    display:block;

    background:url('../image/polaris-logo-c@3x.png');
    background-repeat:no-repeat;
    background-size:cover;


    @include ir();

    width:150px;
    height:23px;

    @include media ('<450px') {
        width:80px;
        height:12px;
    }

}

nav {
    @include media ('>=700px') {
        a.ci,
        button.close {
            display:none;
        }
    }

    @include media ('<700px') {
        $top:36px;
        $left:32px;
        $right:20px;
        $bottom:24px;

        display:block;
        position:absolute;
        top:0;
        right:0;
        max-height:425px;
        height:100vh;
        background:#4a4a4a;
        width:254px;
        box-sizing:border-box;

        padding:$top $right $bottom $left;

        transform:translateX(100%);
        transition:transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0);

        a {
            color:#ffffff;
            font-family:$em-font;
            display:block;
            margin-top:40px;

            &.ci + a {
                margin-top:94px;
            }
        }

        a.lang {
            position:absolute;
            top:$top;
            left:$left;
            text-transform:uppercase;
            margin:0;

            &.ko {
                left:135px;

                &:before {
                    content:'';

                    position:absolute;
                    left:-34px;
                    top:0;
                    bottom:0;

                    width:1px;
                    background-color:#808080;
                }
            }
        }

        a.ci {
            width:28px;
            height:28px;

            position:absolute;
            bottom:24px;

            background-position:left top;
            background-repeat:no-repeat;
            background-color:transparent;
            background-size:cover;

            transition:transform 0.1s linear;

            @include ir();

            &.twitter {
                left:32px;
                background-image:url('../image/icon-twitter-footer@3x.png');
            }

            &.telegram {
                background-image:url('../image/icon-telegram-footer@3x.png');
                left:50%;
                transform:translateX(-50%);
            }

            &.medium {
                right:32px;
                background-image:url('../image/icon-medium-footer@3x.png');
            }

        }   // a.ci


        button.close {
            background:url('../image/icon-close@3x.png') left top transparent no-repeat;
            width:18px;
            height:17px;
            background-size:cover;

            @include ir();

            outline:0;
            -webkit-tap-highlight-color: transparent;

            position:absolute;
            top:$top;
            right:$right;
        }


        &.open {
            transform:translateX(0);
        }
    }

    @include media ('>=700px') {
        a {
            display:inline-block;
            font-size:rem(16);
            font-family:$em_font;
            color:#808080;
            font-weight:200;
            margin-left:40px;

            &:first-child {
                margin-left:0;
            }

            &:hover {
                font-weight:300;
                color:#000;
            }

        }

        // 항상 영문이 먼저 있을 것이므로 경계선 처리는 영어에.
        a.lang.en {
            margin-left:48px;
            padding-left:48px;
            position:relative;

            &:before {
                content:'';

                position:absolute;
                left:0;
                top:0;
                bottom:0;

                width:1px;
                background-color:#808080;
            }
        }
    }
}


// 언어별 강조
:lang(ko) .lang.ko,
:lang(en) .lang.en {
    color:#000;
    font-weight:600;

}

header.invert {
    background-color:#4a4a4a;

    nav a {
        color:#808080;

        &:hover {
            color:#fff;
        }
    }

    h1 a {
        background-image:url('../image/polaris-logo-gray@3x.png');
    }
}

:lang(ko) .invert .lang.ko,
:lang(en) .invert .lang.en {
    color:#fff;
    font-weight:600;
}

@include media ('<700px') {
    .lang {
        color:#808080;
    }

    :lang(ko) .lang.ko,
    :lang(en) .lang.en {
        color:#fff;
        font-weight:600;
    }
}



// 버거 메뉴
@include media ('>=700px') {
    .bugger {
        display:none;
    }
}

@include media ('<700px') {
    .bugger {

        width: 20px;
        height: 16px;
        position: relative;
        transition: .5s ease-in-out;
        cursor: pointer;
        outline:0;
        -webkit-tap-highlight-color: transparent;


        span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: #d3531a;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            background: linear-gradient(to right, #47e1fd, #b827fb);
        }

        span:nth-child(1) {
            top: 0px;
        }

        span:nth-child(2) {
            top: 50%;
            transform:translateY(-50%);
        }

        span:nth-child(3) {
            bottom: 0;
        }

    }

    header.invert .bugger span {
        background:#808080;
    }
}
