$mobile_gnb_height : 48px;

// header styling
header {
    box-sizing:border-box;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:10;
    overflow:hidden;

    //device-max
    height:80px;

    display:flex;
    align-items:center;
    justify-content:space-between;
}

header h1 a {
    width:150px;
    height:23px;
    background:url('../image/polaris-logo-c@3x.png');
    background-size:150px 23px;
    background-repeat:no-repeat;
    display:block;

    @include ir();
}

nav {
    a {
        display:inline-block;
        font-size:rem(24);
        font-family:$em_font;
        color:#808080;
        font-weight:200;
        margin-left:40px;

        &:first-child {
            margin-left:0;
        }
    }

    // 항상 한국어가 먼저 있을 것이므로
    a.lang.ko {
        margin-left:48px;
        padding-left:48px;
        position:relative;

        &:before {
            content:'';

            position:absolute;
            left:0;
            top:0;
            bottom:0;

            width:1px;
            background-color:#808080;
        }
    }
}


:lang(ko) .lang.ko,
:lang(en) .lang.en {
    color:#000;
    font-weight:600;
}
