
article .link_group {
    a {
        display:inline-block;
    }
}

// layout
header,
footer {
    > .wrapper {
        max-width: 946px;
    }
}


article {
    padding-bottom:177px;

    > section {
        box-sizing:border-box;
        padding-left:20px;
        padding-right:20px;

        > .wrapper {
            margin:0 auto;
        }
    }
}

.wrapper {
    @include media_query($device_large) {
        width:946px;
    }
}

@include media_query ($device_small) {
    article .more_info ~ section,
    footer {
        display:none;
    }
}
