
article .link_group {
    a {
        display:inline-block;
    }
}

// layout
header,
footer {
    > .wrapper {
        max-width: 946px;
    }
}


article {

    @include media('<=min') {
        padding-bottom:96px;
    }

    @include media('>=max') {
        padding-bottom:177px;
    }

    > section {
        box-sizing:border-box;
        padding-left:20px;
        padding-right:20px;

        > .wrapper {
            margin:0 auto;
        }
    }
}

.wrapper {
    @include media('>=max') {
        width:946px;
    }
}
